body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-top: 30px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5A2619;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.cookie-popup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    border-radius: 5px;
    max-width: 300px;
}
  
.cookie-popup.show {
    display: block;
}
  
.cookie-popup-content {
    margin-bottom: 10px;
}
  
.cookie-popup p {
    margin: 10px;
}
  
.cookie-popup button {
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}
  
.cookie-popup button.btn-primary {
    background-color: #58D77C;
    border-color: #58D77C;
}
  
.cookie-popup button.btn-primary:hover {
    background-color: #68F684;
}
  
.cookie-popup button.btn-secondary {
    background-color: #EE1C43;
    border-color: #EE1C43;
}
  
.cookie-popup button.btn-secondary:hover {
    background-color: #FF9383;
}