body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-top: 30px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5A2619;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.cookie-popup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    border-radius: 5px;
    max-width: 300px;
}
  
.cookie-popup.show {
    display: block;
}
  
.cookie-popup-content {
    margin-bottom: 10px;
}
  
.cookie-popup p {
    margin: 10px;
}
  
.cookie-popup button {
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}
  
.cookie-popup button.btn-primary {
    background-color: #58D77C;
    border-color: #58D77C;
}
  
.cookie-popup button.btn-primary:hover {
    background-color: #68F684;
}
  
.cookie-popup button.btn-secondary {
    background-color: #EE1C43;
    border-color: #EE1C43;
}
  
.cookie-popup button.btn-secondary:hover {
    background-color: #FF9383;
}



.container {
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #2E2E2E;
    border-radius: 10px;
    padding: 70px;
    margin: 45px;
    display: flex;
    gap: 20px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
}
  
.block1 {
    flex-grow: 1;
}
  
.block1 h2 {
    margin-bottom: 10px;
}
  
.columns {
    display: flex;
    gap: 20px;
}
  
.column {
    flex-grow: 1;
}
  
.block {
    padding: 10px;
}
  
.block h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.block p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
  
.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.block2 img {
    max-width: 100%;
    width: 250px;
    height: 250px;
}

@media (max-width: 991px) {
    .container {
        align-items: center;
        padding: 15px;
        margin: 0;
    }
      
    .block2 {
        margin-right: 10px;
        align-self: flex-start;
        order: 1;
    }
  
    .title {
        font-size: 24px;
        line-height: 31.2px; 
        order: 2;
    }
  
    .block2 img {
      margin-top: 20px;
      width: 31px;
      height: 31px;
    }

    .block h3 {
        font-size: 16px;
        line-height: 20.8px;
    }
    
    .block p {
        font-size: 12px;
        line-height: 18px;
    }
}